{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header"><b>HPB dashboard</b></div>
                <div class="card-body">
                    <!-- Specify what you want to see -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Graphs</div>
                <div class="card-body">
                    <!-- Shows graphs according to selections above -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
