{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Queries</div>
                <div class="card-body">
                    <form action="/queries/create" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Enter name" /><br>
                        <textarea style="margin-top: 10px;" name="sql_statement" placeholder="Enter SQL statement" rows="5" cols="50"></textarea><br>
                        <!-- <p style="margin-top: 10px;">SELECT dpca_idcode FROM data WHERE dpca_datok BETWEEN "2018-05-01" AND "2018-07-01";</p> -->
                        <button style="margin-top: 10px; width: 150px;" type="submit" class="btn btn-primary">Add</button><br>
                        <br>
                        Examples:<br>
                        <br>
                        - SELECT dpca_idcode FROM data WHERE dpca_datok BETWEEN "2018-05-01" AND "2018-07-01";<br>
                        - SELECT dpca_idcode FROM data WHERE dpca_lokalisatie = 4 OR dpca_lokalisatie = 5;
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Available queries</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>SQL statement</th>
                            <th>Commands</th>
                        </tr>
                        {% for query in queries %}
                            <tr>
                                <td>{{ query.name }}</td>
                                <td>{{ query.sql_statement }}</td>
                                {%  if user.is_staff %}
                                    <td>
                                        [<a href="/queries/{{ query.id }}/delete">delete</a>]
                                        [<a href="/queries/{{ query.id }}/run">run</a>]
                                    </td>
                                {% else %}
                                    <td></td>
                                {%  endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
