{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header"><b>Queries</b></div>
                <div class="card-body">
                    <form action="/queries/run" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea style="margin-top: 10px; width: 400px;" name="query" placeholder="Enter query" rows="5" cols="50"></textarea><br>
                        <button style="margin-top: 10px; width: 150px;" type="submit" class="btn btn-primary">Run</button><br>
                        <br>
                        Example:<br>
                        <br>
                        SELECT dpca_idcode, dpca_datok WHERE (dpca_datok >= "2018-05-01" AND dpca_datok <= "2018-07-01") OR (dpca_datok >= "2017-01-01" AND dpca_datok <= "2017-04-01")<br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Query results</div>
                <div class="card-body">
                    <table class="data-table">
                        {% for column in columns %}<th>{{ column }}</th> {% endfor %}
                        {% for row in data %}
                            <tr>
                            {% for item in row %}
                                <td>{{ item }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
